{% extends 'base.html.twig' %}

{% block title %}Create Draw{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">

        <h1>Créer un Tirage de Noël</h1>
        {{ form_start(form) }}
            {{ form_rest(form)}}
            <div id="choice">
                <label for="choice1"> Entrez des adresses mails valides: (tapez l'adresse puis enter ou ajoutez une virgule)</label>
                <input type="text"  name="choices" data-role="tagsinput">
            </div>


        <button class="btn btn-primary mt-2"> Créer </button>
        {{ form_end(form) }}


    </div>

{% endblock %}

