body{
    font-family: 'Quicksand', sans-serif;

}

header main{
    display:block;
}


.landingpage {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(92,151,255,0.6) 0%,rgba(92,151,255,0.9) 100%), url("../images/background.jpg");
    background-position: 25% 75%;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}


.landingpage h2{
    font-weight: 900;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 20px;
}

.landingpage p{
    color: #fff;
    font-weight: 200;
    font-size: 30px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.navbar{
    background-color:#FFF;
}
.navbar-brand img{
    height : 40px;
}


.div-home-start{
    height:200px;
    font-weight: bold;
    font-family: ".SF NS Display";
}

/*** PCM CYCLISME ****/
.more70{
    color:#00762F;
}

.more80{
    font-weight: bold;
    color:#43C248;
}

.panel-stat-pcm {
    margin-top: 20px;
    background: #222;
    color: #FFF;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(11, 11, 11, 0.80) 0%, rgba(0, 0, 0, 0.80) 80%), url(../images/backPanel.webp);
    background-position: right top;
    top : -20px;
    left : 20px;
}

.infoPlayerContent{
    position: absolute;
    display: none;
    z-index: 100;
}
a {
    display: inline-block;
}
a:hover .infoPlayerContent{
    display:block;
    transition: .5s ease;
}

.list-team a{
    color:#222222;
}

.list-team svg{
    margin-right: 5px;
}

.giftTo{
    display:none;
}

.hiddenResults{
    display:none;
}

.top-rhezon{
    border-radius: 5px;
    color: #92c582;
    background-image: url(https://cdn2.unrealengine.com/egs-footballmanager2021-sportsinteractive-s1-2560x1440-070457508.jpg);
    background-position: -341px -84px;
    background-size: 164%;

}

.top-content {
    background-image: url(https://cdn2.unrealengine.com/egs-footballmanager2021-sportsinteractive-s1-2560x1440-070457508.jpg);
    background-position: -341px -84px;
    background-size: 164%;
    color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;

}
.color-overlay {
    width: 100%;
    height: 100%;
    background: #FFF;
    opacity: 0.7;
    position: absolute;
}
h1 {
    font-size: 70px;
    font-weight: bold;
    z-index: 1;
}

.buttonOK{
    border: #536f50;
    background-color: #536f50;
}

.global-panel{
    border-radius: 5px;
    background-color: #86a5a9;
    padding:10px;
    color:#767676;

}