{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid mt-5">

        <h1>Panneau d'admin </h1>

        Liste des users : <a href="{{path('admin.user.index')}}"> Voir </a>
        Executer : <a href="{{ path('admin.execute.draws') }}">All Draws</a>


    </div>


{% endblock %}