{% extends 'base.html.twig' %}

{% block title %}Create Draw{% endblock %}

{% block body %}
    <div>

        <h1>Créer un Tirage au sort</h1>
        {{ form_start(form) }}
            {{ form_rest(form)}}
            <div id="choice">
                <label for="choice1">choix possible :</label>
                <input type="text"  name="choices" data-role="tagsinput">
            </div>


        <button class="btn btn-primary"> Créer </button>
        {{ form_end(form) }}


    </div>

{% endblock %}

